protobuf==3.9.1
setuptools==41.2.0
six==1.12.0
onnx==1.4.1
numpy==1.17.0
psutil==5.6.3
pympler==0.7
mem_top==0.1.6
jsonpickle==1.2
Polygon3==3.0.8
graphics.py==5.0.1.post1
keyboard==0.13.3
pyftp==0.1.0
torch==1.2.0
graphviz==0.13
objgraph==3.4.1
#opencv-python==4.1.0.25

# Run the following command to be able to run QueueImageTest2
#    sudo apt-get install graphviz

# run the following command to be able to run DetermineIgnoredZone
#    sudo apt-get install python3-tk