######      IMPORTANT    #########
# Machine, which is running TvPlayer.py need to install the requirements using ROOT privileges as follows:
# sudo apt-get update && sudo apt-get install -y libdbus-1{,-dev}
# sudo pip3 install -r requirements.txt

# Install pyarrow using the instructions found here:
# https://arrow.apache.org/docs/developers/cpp.html
# sudo apt-get -y install cmake
# sudo apt-get install protobuf-compiler libprotoc-dev
# Run the following command to be able to run QueueImageTest2
#    sudo apt-get install graphviz
# run the following command to be able to run DetermineIgnoredZone
#    sudo apt-get install python3-tk
# prerequisites for gstreamer - plugins
# sudo apt-get install gstreamer1.0-plugins-bad
# sudo apt-get install gstreamer1.0-plugins-ugly
# sudo apt-get install libgstrtspserver-1.0-dev
# sudo ufw allow 5000/tcp
# sudo ufw allow 5000/udp

certifi==2019.9.11
chardet==3.0.4
idna==2.8
requests==2.22.0
urllib3==1.25.6
protobuf==3.9.1
setuptools==41.2.0
six==1.12.0
numpy==1.17.4
psutil==5.6.6
pympler==0.7
mem_top==0.1.6
jsonpickle==1.2
Polygon3==3.0.8
graphics.py==5.0.1.post1
keyboard==0.13.3
pyftp==0.1.0
#torch==1.2.0
graphviz==0.13
objgraph==3.4.1
blessings==1.7
#opencv-python==4.1.0.25
enum34==1.1.6
python-dateutil==2.8.0
freetype-py
pipeproxy==0.7
SharedArray==3.2.0